<div class="w-full block bg-gray-200 py-2 px-4 flex-column justify-center items-center sm:py-1 sm:flex sm:flex-row">
  <h2 class="text-sm font-bold text-gray-900 py-2 text-center sm:mr-10">
    👋 <%= body_text %>
  </h2>
  <%= link_to "#{link_text}", eval(link_url), class: 'block w-40 mx-auto bg-white rounded-md text-gray-900 text-sm py-1 px-2 font-bold text-center sm:mx-0' %>
</div>