<div class="w-full border-b flex justify-center items-center bg-white py-2">
  <h3 class="text-base font-black text-primary sm:text-xl">
    <%= pickup_type.upcase %> to 
    <%= current_user.address.truncated_street_address(23) %>
  </h3>
</div>