<div class="mb-6 w-full max-w-5xl mx-auto">
  <div class="w-full mx-auto bg-gray-500 py-2 mb-2">
    <h1 class="text-3xl font-bold text-gray-900">
      Regions
    </h1>
  </div>

<div class="w-full flex flex-row flex-wrap justify-start items-center">

  <%= render partial: 'executives/dashboards/regions/regions/regions', locals: {regions: @regions}%>

</div>