<div class="px-6 max-w-sm m-auto lg:max-w-2xl sm:max-w-xl">

  <div class="">
    <p class="text-gray-900 text-xl mb-2 leading-relaxed lg:leading-10 sm:text-2xl">
      We didn't reinvent the wheel, only Laundry Service.
    </p>
    <p class="text-gray-900 text-xl mb-2 leading-relaxed lg:leading-10 sm:text-2xl">
      Pay only for what's washed. No contracts. No minimums. No monthly fees. Pickup & Delivery is free. 
    </p>

    <p class="text-gray-900 text-xl mb-2 leading-relaxed lg:leading-10 sm:text-2xl">
      Pause, Start or Stop service any time—It's that simple.
    </p>
  </div>
</div>