<div class="w-full m-auto px-4">
  <div class="w-full m-auto">
    <h1 class="text-gray-900 text-3xl text-center font-bold leading-tight mb-6">
      What You'll Need
    </h1>
  </div>

  <div class="max-w-xl m-auto">
    <%# step1 start %>
    <div class="flex lg:mb-10">
      <div class="relative mr-4 z-10 lg:mr-10">
        <%# circle %>
        <div class="relative bg-primary text-center text-white text-2xl font-bold z-20" style="padding: 2px 14px; border-radius: 50%;">
          1
        </div>
        <%# line %>
        <div class="absolute top-0 left-0 ml-4 px-2 bg-white h-full">
        </div>
    </div>

      <div class="pt-1">
        <h3 class="font-bold text-xl mb-4 text-gray-900 lg:text-3xl">
          Your Desired Pickup Schedule
        </h3>
        <h5 class="font-normal text-xl lg:text-2xl mb-10 text-gray-900 leading-10">
          Flexible service is our expertise. Tell us the days of the week you want your free pickups, we do the rest.
        </h5>
      </div>
    </div>
    <%# step1 end %>

    <%# step2 start %>
    <div class="flex lg:mb-10">
      <div class="relative mr-4 z-10 lg:mr-10">
        <%# circle %>
        <div class="relative bg-primary text-center text-white text-2xl font-bold z-20" style="padding: 2px 14px; border-radius: 50%;">
          2
        </div>
        <%# line %>
        <div class="absolute top-0 left-0 ml-4 px-2 bg-white h-full"></div>
      </div>

      <div class="pt-1">
        <h3 class="font-bold text-xl mb-4 text-gray-900 lg:text-3xl">
            Your Address
        </h3>
        <h5 class="font-normal text-xl lg:text-2xl mb-10 text-gray-900 leading-10">
          Location, Business Hours and some instructions for your courier if needed.
        </h5>
      </div>
    </div>
    <%# step2 end %>

    <%# step3 start %>
    <div class="flex lg:mb-10">
      <div class="relative mr-4 z-10 lg:mr-10">
        <%# circle %>
        <div class="relative bg-primary text-center text-white text-2xl font-bold z-20" style="padding: 2px 14px; border-radius: 50%;">
          3
        </div>
      </div>

      <div class="pt-1">
        <h3 class="font-bold text-xl mb-4 text-gray-900 lg:text-3xl">
            Payment Method
        </h3>
        <h5 class="font-normal text-xl lg:text-2xl text-gray-900 leading-10">
           Weekly usage is billed automatically every Saturday after 5pm. Receipts are digital and sent directly to your email address.
        </h5>
      </div>
    </div>
    <%# step3 end %>
  </div>
  
</div>