  <body style="font-family: montserrat, arial;padding: 0;width: 100%;margin: 0;-webkit-text-size-adjust: 100%;-webkit-border-radius: 3px;border-radius: 3px;text-size-adjust: 100%;color: #201F26; padding-left; 10px;padding-right: 10px;">
    <table style="font-family: montserrat, arial;max-width: 454px;margin: auto;text-align: left;line-height: 25px;font-size: 16px;">
      <tr style="font-family: montserrat, arial;text-align: center;">
        <th style="font-family: montserrat, arial;padding: 3px 0;font-weight: 400;background: #d70cf5;">
        </th>
      </tr>

			<tr style="font-family: montserrat, arial;text-align: center;">
        <td class="padding-large-top padding-medium" style="font-family: montserrat, arial;text-align: left;padding-top: 36px;padding-bottom: 18px;padding-left: 10px; padding-right: 10px;">
					<%=@user.formatted_name.split(' ').first%>,
        </td>
      </tr>

				<tr style="font-family: montserrat, arial;text-align: center;">
        <td class="padding-small" style="font-family: montserrat, arial;text-align: left;padding-bottom: 9px;padding-left: 10px; padding-right: 10px;">
          Yesterday, I sent you an email outlining our awareness of the COVID-19 outbreak and how we are practicing expert recommended safety measures for all of our orders.
      </tr>

		<tr style="font-family: montserrat, arial;text-align: center;">
			<td class="padding-small" style="font-family: montserrat, arial;text-align: left;padding-bottom: 9px;padding-left: 10px; padding-right: 10px;">
			Today, I'd like to list those measures and give you a better insight into FreshAndTumble, how it works, and what we are doing to ensure that every order is processed in the safest way possible:
			</td>
		</tr>

		<tr style="font-family: montserrat, arial;text-align: center;">
        <td class="padding-small" style="font-family: montserrat, arial;text-align: left;padding-bottom: 9px;padding-left: 10px; padding-right: 10px;">
          <span class="bold blue" style="font-family: montserrat, arial;font-weight: 700;color: #d70cf5;">• No-Contact Pickups and Deliveries •</span>
        </td>
      </tr>

		<tr style="font-family: montserrat, arial;text-align: center;">
			<td class="padding-small" style="font-family: montserrat, arial;text-align: left;padding-bottom: 9px;padding-left: 10px; padding-right: 10px;">
			  Now more than ever, no-contact pickups and deliveries are important. From day one, We designed FreshAndTumble to be just that. If your laundry is outside your residence and is directly accessible for your courier, there is no direct interaction needed from you. We have now instructed all of our couriers to take extra measures to use disposable rubber gloves when handling customer laundry bags directly instead of work gloves.
			</td>
		</tr>

		<tr style="font-family: montserrat, arial;text-align: center;">
			<td class="padding-small" style="font-family: montserrat, arial;text-align: left;padding-bottom: 9px;padding-left: 10px; padding-right: 10px;">
				<span class="bold blue" style="font-family: montserrat, arial;font-weight: 700;color: #d70cf5;">• How Wash Works •</span>
			</td>
		</tr>

		<tr style="font-family: montserrat, arial;text-align: center;">
			<td class="padding-small" style="font-family: montserrat, arial;text-align: left;padding-bottom: 9px;padding-left: 10px; padding-right: 10px;">
			 	Every FreshAndTumble order is washed individually in it's own dedicated machine. In between washes, disinfecting tablets are used to disinfect and de-perfume the machine before the next order is to be washed. Folding and packaging surfaces are wiped and disinfected in-between orders. We have now instructed our wash team to wipe, and sanitize surfaces more frequently and to take additional time sanitizing surfaces. 
			</td>
		</tr>

		<tr style="font-family: montserrat, arial;text-align: center;">
			<td class="padding-small" style="font-family: montserrat, arial;text-align: left;padding-bottom: 9px;padding-left: 10px; padding-right: 10px;">
				<span class="bold blue" style="font-family: montserrat, arial;font-weight: 700;color: #d70cf5;">• Packaging •</span>
			</td>
		</tr>

		<tr style="font-family: montserrat, arial;text-align: center;">
			<td class="padding-small" style="font-family: montserrat, arial;text-align: left;padding-bottom: 9px;padding-left: 10px; padding-right: 10px;">
			 	As mentioned above, folding tables and surfaces are regularly wiped and sanitized between orders, our pink reusable laundry bags are washed with your order and returned to you with your scheduled delivery. Our pink laundry bags have an anti-microbial coating and are machine washable. Every FreshAndTumble order is vacuum sealed once folded to ensure cleanliness and freshness during delivery transport.
			</td>
		</tr>

		<tr style="font-family: montserrat, arial;text-align: center;">
			<td class="padding-small" style="font-family: montserrat, arial;text-align: left;padding-bottom: 9px;padding-left: 10px; padding-right: 10px;">
				<span class="bold blue" style="font-family: montserrat, arial;font-weight: 700;color: #d70cf5;">• Some Additional Thoughts •</span>
			</td>
		</tr>

		<tr style="font-family: montserrat, arial;text-align: center;">
			<td class="padding-small" style="font-family: montserrat, arial;text-align: left;padding-bottom: 9px;padding-left: 10px; padding-right: 10px;">
			 	I sincerely hope that you are doing well during this uncertain time. We are paying close attention to all COVID-19 developments, and are working closely to follow CDC, WHO, and local health officials' recommendations to provide the cleanest, most sanitary laundry service possible. 
			</td>
		</tr>

		<tr style="font-family: montserrat, arial;text-align: center;">
			<td class="padding-small" style="font-family: montserrat, arial;text-align: left;padding-bottom: 9px;padding-left: 10px; padding-right: 10px;">
			 	If you have any questions, comments, or concerns. Please do not hesitate to contact me directly at info@freshandtumble.com - I am committed to personally respond to any questions or concerns that you may have. Please be safe, and have a wonderful rest of your week.
			</td>
		</tr>


		<tr style="font-family: montserrat, arial;text-align: center;">
			<td class="padding-small" style="font-family: montserrat, arial;text-align: left;padding-bottom: 9px;padding-left: 10px; padding-right: 10px;">
			Michael Arriaga,
			CEO/Founder FreshAndTumble
			</td>
		</tr>

      <tr style="font-family: montserrat, arial;text-align: center;">
        <td class="copyright-notice" style="font-family: montserrat, arial;text-align: left;font-size: 12px;color: gray;padding-left: 10px; padding-right: 10px;">
           © <%= Date.today.year%> Fresh And Tumble LLC
        </td>
      </tr>

    </table>
  </body>
