  <div class="open-appointment-list-heading-container__inner">
    <h2>OPEN APPOINTMENTS</h2>

    <ul>
      <li>
        Sort by:
      </li>
      <li>
        <%= link_to "Soonest", "", class: "open-offers-sort-by-soonest" %>
      </li>
      <li>
        <%= link_to "Latest", "", class: "open-offers-sort-by-latest" %>
      </li>
    </ul>
  
  </div>
  