<% if @delivered.any?%>
  <div class="mb-6">
    <%= render partial: 'executives/dashboards/metric_block_header', locals: {
      icon_name: 'cube-outline',
      title: "Completed (#{Order.delivered.count}) #{@delivered.sum(:courier_weight)} lbs"
    }
    %>

    <div class="flex flex-wrap">
      <% @delivered.all.each do |order| %>
        <%= render partial: 'executives/dashboards/orders/order_item', locals: {order: order, user: order.user}%>
      <% end %>
    </div>
  </div>
<% end %>