<div class="border-b py-4 px-4 sm:px-8">
  <p class="text-lg text-gray-900 py-0 sm:text-lg">
    Tumble Subscription
  </p>

  <p class="text-lg text-gray-900 py-0 sm:text-lg">
    <%= t.readable_created_at %>
  </p>

  <p class="text-lg text-gray-900 py-0 sm:text-lg">
    <%= t.readable_grandtotal %>
  </p>

  <p class="text-lg text-gray-900 py-0 sm:text-lg">
    <%= t.condensed_payment_method %>
  </p>
</div>