<div class="mb-6 max-w-5xl mx-auto">
  <div class="w-full mx-auto bg-gray-500 py-2 mb-2">
    <h1 class="text-3xl font-bold text-gray-900">
      Washers
    </h1>
  </div>

  <%= render partial: 'executives/dashboards/washers/washers/washers', locals: { washers: @washers}%>
</div>