<div class="px-6 flex-column justify-center items-center max-w-sm m-auto lg:max-w-2xl sm:max-w-xl">
  <div class="mb-4">
    <h4 class="text-gray-900 text-4xl sm:text-4xl text-left font-bold leading-tight sm:text-center">
      By the pound
    </h4>
    <h4 class="text-gray-900 font-light text-4xl  leading-tight sm:text-center">
      Not by the bag.
    </h4>
  </div>

  <div class="">
    <p class="text-gray-900 text-xl mb-2 leading-relaxed lg:leading-10 sm:text-2xl">
      Luggage stuffing skills not required to get the most value from your order.
    </p>
  </div>

  <div class="">
    <p class="text-gray-900 text-xl leading-relaxed lg:leading-10 sm:text-2xl ">
      On average, Fresh And Tumble customers pay 
      <span class="text-primary font-bold">
        20% less per order
      </span> 
      than similar pay-per-bag service.
    </p>
  </div>
</div>