<div class="w-full bg-primary lg:pt-6 px-6">
  <div class="w-full max-w-xl mx-auto flex-column justify-center items-center 
   lg:flex lg:items-center lg:justify-between lg:max-w-6xl lg:w-10/12
  ">
    <%# panel left %>
    <div class="mx-auto mb-6 lg:w-1/2">
      <h1 class="text-center lg:text-left text-white text-3xl font-regular leading-none  sm:text-5xl lg:text-5xl ">
        Clean Laundry
      </h1>

      <h1 class="text-center lg:text-left text-white text-3xl mb-4 font-black leading-tight tracking-wide sm:text-5xl lg:text-5xl ">
        Delivered.
      </h1>

      <p class="text-center lg:text-left text-white text-xl leading-8  lg:text-2xl leading-tight">
        Your Everyday laundry picked up, washed, and delivered, at an affordable price. 
      </p>
    </div>

    <%# panel right %>
    <div class="lg:flex-column lg:items-center lg:justify-center lg:w-1/2">
      <p class="block text-center text-sm sm:text-base text-white leading-8 font-bold mb-0 lg:text-right lg:mr-24">
        Made with <ion-icon class="text-white " name="heart"></ion-icon> in Seattle Wa
      </p>
      <%= image_tag 'landing/app-demo-image-new@2x.png', class: 'block mx-auto lg:ml-auto lg:mr-0 w-full lg:w-full max-w-xs lg:max-w-sm'%>
    </div>
  </div>
</div>