<div class="w-full my-20 mx-auto px-4 lg:max-w-lg">
  <div class="w-full m-auto">
    <h1 class="text-gray-900 text-xl underline lg:text-xl text-center font-black leading-none mb-4 lg:text-center">
      HOW IT WORKS
    </h1>
  </div>

  <div class="mx-auto">
    <%# step1 start %>
    <div class="flex max-w-md justify-start items-start mb-6 mx-auto lg:mx-0">
      <div class="mr-4">
        <span class="h-6 w-6 flex items-center justify-center text-lg font-black text-white bg-primary text-right rounded ">
          1
        </span>
      </div>

      <div class="">
        <h3 class="font-black text-lg lg:text-xl text-gray-900 leading-none tracking-tight mb-1">
          CUSTOMIZE YOUR WASH
        </h3>
        <h5 class="text-lg">
          Choose from our preferred eco-friendly & sustainable detergents. Want to use your own instead? No Problem! Just throw it in the bag!
        </h5>
      </div>
    </div>
    <%# step1 end %>

    <%# step2 start %>
    <div class="flex max-w-md  justify-start items-start mb-6 mx-auto lg:mx-0">
      <div class="mr-4">
        <span class="h-6 w-6 flex items-center justify-center text-lg  font-black text-white bg-primary text-right rounded">
          2
        </span>
      </div>

      <div class="">
        <h3 class="font-black text-lg lg:text-xl text-gray-900 leading-none tracking-tight mb-1">
          CONTACTLESS PICKUP
        </h3>
        <h5 class="text-lg">
          Leave your bags on your doorstep and that's it, Seriously! Sit back, relax and let us do the rest!
        </h5>
      </div>
    </div>
    <%# step2 end %>

    <%# step2 start %>
    <div class="flex max-w-md justify-start items-start mb-6 mx-auto lg:mx-0">
      <div class="mr-4">
        <span class="h-6 w-6   flex items-center justify-center text-lg  font-black text-white bg-primary text-right rounded">
          3
        </span>
      </div>

      <div class="">
        <h3 class="font-black text-lg lg:text-xl text-gray-900 leading-none tracking-tight mb-1">
          DELIVERY
        </h3>
        <h5 class="text-lg">
          Your fresh clothes ready to wear, now with Free Next Day Rush Delivery. So fresh and clean!
        </h5>
      </div>
    </div>
    <%# step2 end %>
    
  </div>
  
</div>